setuptools
pyrsistent
pushcollector
paramiko
requests
pubtools-pyxis
python-qpid-proton
monotonic
docker
pubtools>=1.4.0
iiblib
pubtools-iib
kerberos
marshmallow
urllib3<2
pubtools-sign>=0.0.11
docker
