setuptools
requests
PyNaCl==1.0.1
gssapi==1.5.1
python-qpid-proton==0.18.0
ndg-httpsclient==0.4.4
edgegrid-python==1.0.10
cryptography==2.1.4
idna==2.7
paramiko==2.3.1
PyYAML < 5.1
jsonschema == 2.3.0
pyrsistent==0.13.0

# -e git+https://code.engineering.redhat.com/gerrit/rhmsg#egg=rhmsg-0.9
