mock
requests-mock
pytest
pylint<3.0.0
pytest-pylint
pytest-cov
pubtools-pyxis
pyrsistent==0.15.7;python_version<'3.0'
pushcollector
PyHamcrest
python-qpid-proton==0.33.0;python_version<'3.0'
bandit==1.7.5
mypy
types-requests
types-setuptools
types-paramiko
types-PyYAML