setuptools
pyrsistent
pushcollector
paramiko
requests
pubtools-pyxis
six
python-qpid-proton==0.33.0
monotonic
docker
pubtools>=0.3.0
iiblib
pubtools-iib

# -e git+https://code.engineering.redhat.com/gerrit/rhmsg#egg=rhmsg-0.9
